{%  load static %}
{% block content %}

    <div class="nav_panel">
        <a href="#" class="closebt open_close_nav_panel"><i class="bi bi-x"></i></a>
        <div class="logo_panel"><img src="img/logo_sticky.png" width="135" height="45" alt=""></div>
        <div class="sidebar-navigation">
            <nav>
                <ul class="level-1">
                    <li class="parent"><a href="#0">Home</a>
                         <ul class="level-2">
                            <li class="back"><a href="#0">Back</a></li>
                            <li><a href="index.html">Home Video Bg</a></li>
                            <li><a href="index-2.html">Home Carousel</a></li>
                            <li><a href="index-3.html">Home FlexSlider</a></li>
                            <li><a href="index-4.html">Home Youtube/Vimeo</a></li>
                            <li><a href="index-5.html">Home Parallax</a></li>
                        </ul>
                    </li>
                    <li class="parent"><a href="#0">Rooms & Suites</a>
                        <ul class="level-2">
                            <li class="back"><a href="#0">Back</a></li>
                            <li><a href="room-list-1.html">Room list 1</a></li>
                            <li><a href="room-list-2.html">Room list 2</a></li>
                            <li><a href="room-list-3.html">Room list 3</a></li>
                            <li><a href="room-details.html">Room details</a></li>
                            <li><a href="room-details-booking.html">Working Booking Request</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="news-1.html">News & events</a></li>
                    <li><a href="contacts.html">Contact</a></li>
                    <li><a href="404.html">Error Page</a></li>
                    <li><a href="menu-2.html">Menu Version 2 <span class="custom_badge">Hot</span></a></li>
                    <li><a href="menu-3.html">Menu Version 3</a></li>
                    <li><a href="menu-4.html">Menu Version 4</a></li>
                </ul>
                <div class="panel_footer">
                    <div class="phone_element"><a href="tel://423424234"><i class="bi bi-telephone"></i><span><em>Info and bookings</em>+41 934 121 1334</span></a></div>
                </div>
                <!-- /panel_footer -->
            </nav>
        </div>
        <!-- /sidebar-navigation -->
    </div>

{% endblock %}