{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% include 'static_html/header-2.html' %}
{% include 'static_html/nav-panel.html' %}

    <main>
      <div class="hero small-height jarallax" data-jarallax data-speed="0.2">
          <img class="jarallax-img" src="{% static 'img/Paradise-Beach-Mykonos-5-scaled.jpg' %}" alt="">
          <div class="wrapper opacity-mask d-flex align-items-center justify-content-center text-center animate_hero" data-opacity-mask="rgba(0, 0, 0, 0.5)">
              <div class="container">
                  <small class="slide-animated one">Story about our hotel</small>
                  <h1 class="slide-animated two">About Our Paradise</h1>
              </div>
          </div>
      </div>
      <!-- /Background Img Parallax -->

      <div class="container margin_120_95">
          <div class="row justify-content-between align-items-center">
              <div class="col-lg-5">
                  <div class="parallax_wrapper inverted">
                      <img src="{% static 'img/About Hotel.jpg' %}" alt="" class="img-fluid rounded-img">
                      <div data-cue="slideInUp" class="img_over"><span data-jarallax-element="-30"><img src="" alt="" class="rounded-img"></span></div>
                  </div>{% static 'img/139342753.jpg' %}
              </div>
              <div class="col-lg-5">
                  <div class="intro">
                      <div class="title">
                          <small>Paradise Hotel</small>
                          <h2>Our History</h2>
                      </div>
                      <p class="lead"> Located in the southwest corner of the park, Paradise is aptly named, and
                          there are few
                          locations within the entire national park system that are this stunning. Nestled on
                          the south slopes of
                          the glacier-shrouded volcano at an elevation of 5,400 feet with stunning views of
                          wildflower meadows,
                          Paradise is 19 miles inside the southwest Nisqually entrance of the park.</p>
                      <p>Getting here is easy, but that was not always the case. Most visitors to Mount Rainier
                          in the early 1900s were not content to end their trip at Longmire Springs and wanted
                          to experience the panoramic views and wildflower meadows that have made Paradise the
                          most popular area in the park. From Longmire Springs they took the trail built by
                          Leonard Longmire and Henry Carter in 1892, paying a small toll, and proceeded upwards
                          often stopping at Carter Falls and Narada Falls to rest. In early 1895, a coffee shop
                          called the Paradise Hotel and a tent camp were established providing services to the
                          ever-increasing numbers of people visiting the area, and in 1898; John L. Reese
                          combined the two operations and name it Camp of the Clouds. Although visitors were
                          generally satisfied with the camp, they wanted nicer accommodations and the demand for
                          better sanitation increased in 1911, the first full season that it was possible to take
                          horse-drawn vehicles all the way to the Camp of the Clouds. </p>
                      <p>The Paradise Inn was designed by a Tacoma architect and built in the popular style of
                          the period with the building’s large timber frame exposed on the interior. The timber
                          used for the interior décor of the building was cut from dead Alaska cedars that had
                          been fire-killed in the Silver Forest just below Narada Falls and had seasoned to a
                          light gray or silver hue. The trees were hauled by horses to the construction site
                          and raised into position without the benefit of diesel-powered cranes. The Paradise
                          Inn opened for business in July 1917 with thirty-seven guest rooms and a dining
                          capacity of four hundred guests. Platform tent structures were built behind the Inn to
                          house additional guests and meals were announced when the dining room manager blew a
                          whistle from the back porch. In 1920 with the increased demand for lodging, RNPC completed their first addition to Paradise Inn, a 104-room wing they called the annex. In 1930, the tents surrounding the inn were removed, and RNPC built 275 housekeeping cabins and a central service building with a cafeteria, camp store, and 40 guestrooms. The building was called the Paradise Lodge and opened to the public on June 20, 1931.</p>
                      <p>The Great Depression had a mixed effect on people’s ability to visit Mount Rainier as well as lodging
                          preferences. Tourists who could not afford a room in the Paradise Inn wanted to stay in the small
                          housekeeping cabins, and RNPC was faced with shrinking revenues as the newly redecorated Paradise Inn
                          experienced room vacancies on weekends in July while waitresses stood around with nothing to do in the
                          inn’s elegant dining room. A decline in visitation during the war essentially prolonged the economic
                          depression, and RNPC closed down Paradise Lodge and operated Paradise Inn on the “European Plan”
                          (substituting cafeteria-style food service for full dining services). In 1943 they sold the
                          housekeeping cabins for $160 each to real estate companies and the cabins were removed from the park to
                          alleviate housing shortages among war industry workers in the Puget Sound area and migrant farmers in
                          Yakima Valley.
                            Another development also took place at Paradise in 1930-31. The NPS approved a request by the RNPC to put in a nine-hole golf course. This short-lived experiment completed in 1931 was justified on the grounds that golfing was a form of outdoor recreation and would not detract from the mountain setting.</p>


                      <p>In spite of the many changes, Paradise Inn remains in its grand old state, barely
                          changed from the 1920s when travelers came looking for a place to stay amidst the great
                          beauty of grandeur of Mount Rainier. Visitors continue to come from around the world to
                          experience spectacular views of massive glaciers, meadows lush with wildflowers,
                          breathtaking waterfalls, and wildlife all in this glorious mountain “Paradise.”</p>
                      <p><em>Tom...the Manager</em></p>
                  </div>
              </div>
          </div>
          <!-- /Row -->
      </div>
      <!-- /container -->

      <div class="bg_white">
          <div class="container margin_120_95">
              <div>
                  <div class="row justify-content-between">
                      <div class="col-lg-5 fixed_title">
                          <div class="title">
                              <small>Paradise Hotel</small>
                              <h2>Local Amenities</h2>
                              <p>Here are the amenities and services you can use.</p>
                          </div>
                          <div class="list_ok">
                              <ul>
                                  <li data-cue="slideInUp" data-delay="200">
                                      <h5>Local Restaurants</h5>
                                      <p>At a local restaurant you can taste the favorite dishes of famous chefs.</p>
                                  </li>
                                  <li data-cue="slideInUp" data-delay="300">
                                      <h5>Nature</h5>
                                      <p>There is amazing nature here, giving extraordinary relaxation and tranquility.</p>
                                  </li>
                                  <li data-cue="slideInUp" data-delay="400">
                                      <h5>Art and Culture</h5>
                                      <p>Unrenovated sculptures, concerts, architectural monuments, all this awaits you in our hotel.</p>
                                  </li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-6 ">
                          <div data-cue="fadeIn" data-delay="500">
                              <figure><img src="{% static 'img/restsaurant.jpg' %}" alt="" class="img-fluid rounded-img"></figure>
                          </div>
                          <div data-cue="fadeIn" data-delay="500">
                              <figure>
                                  <img src="{% static 'img/nature.jpg' %}"  alt="" class="img-fluid rounded-img">
                              </figure>
                          </div>
                          <div data-cue="fadeIn" data-delay="500">
                              <figure>
                                  <img src="{% static 'img/art_and_culture.jpg' %}" alt="" class="img-fluid rounded-img">
                              </figure>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- /container-->
      </div>
      <!-- /bg_white -->


      <!-- /parallax_section_1-->

      <div class="container margin_120_95">
          <div class="title text-center mb-5">
              <small data-cue="slideInUp">Paradise Hotel</small>
              <h2 data-cue="slideInUp" data-delay="100">Main Facilities</h2>
          </div>
          <div class="row mt-4">
              <div class="col-lg-3 col-md-6">
                  <div class="box_facilities no-border" data-cue="slideInUp">
                      <i class="customicon-private-parking"></i>
                      <h3>Private Parking</h3>
                      <p>Booked the hotel for one night since it advertised private parking - well, what the hotel means is parking your car a street away on a public paid parking lot which was full and took reservations 24 hours in advance for a spot, which the hotel never mentioned.
                        Ended up cancelling out stay there and stayed elsewhere.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="box_facilities" data-cue="slideInUp">
                      <i class="customicon-wifi"></i>
                      <h3>High Speed Wifi</h3>
                      <p>In this hotel very fast Wifi.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="box_facilities" data-cue="slideInUp">
                      <i class="customicon-cocktail"></i>
                      <h3>Bar & Restaurant</h3>
                      <p>You can visit the restaurant in this hotel.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="box_facilities" data-cue="slideInUp">
                      <i class="customicon-swimming-pool"></i>
                      <h3>Swimming Pool</h3>
                      <p>Also swim in our pool.</p>
                  </div>
              </div>
          </div>
          <!-- /Row -->
          <hr class="more_margin">
          <div class="row justify-content-between margin_60_0">
              <div class="col-lg-4">
                  <div class="title">
                      <small>Paradise Hotel Faq</small>
                      <h3>Frequently Questions</h3>
                  </div>
                  <p>Can’t find your question in the list?
                      Let us know your questions.</p>
                  <p><a href="{% url 'contact_form' %}" class="animated_link"><strong>Contact Us <i class="bi bi-arrow-right"></i></strong></a></p>
              </div>
              <div class="col-lg-7">
                  <div role="tablist" class="mb-5 accordion" id="faq">
                      <div class="card">
                          <div class="card-header" role="tab">
                              <h5 class="mb-0">
                                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseOne_product" aria-expanded="false">
                                      <i class="indicator bi-plus-lg"></i>Cancellation
                                  </a>
                              </h5>
                          </div>
                          <div id="collapseOne_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                              <div class="card-body">
                                  <p>We’re in the business of saving you money and we take this mission very seriously. If your travel plans
                                      change and your hotel is willing to give you a full refund for the reservation, this option is always
                                      ideal. That said, no matter what the cancellation
                                      policy is for your specific reservation, you always have options in the event
                                      that you need to cancel it.</p>
                              </div>
                          </div>
                      </div>
                      <!-- /card -->
                      <div class="card">
                          <div class="card-header" role="tab">
                              <h5 class="mb-0">
                                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseTwo_product" aria-expanded="false">
                                      <i class="indicator bi-plus-lg"></i>Payments
                                  </a>
                              </h5>
                          </div>
                          <div id="collapseTwo_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                              <div class="card-body">
                                  <p>
                                      Hotel payment processing refers to the system and procedures you use to
                                      take guest payments. With fewer people carrying and paying with cash,
                                      credit and debit card payments have become the norm. But this new cashless
                                      world comes with a few challenges for hotels.
                                  </p>
                                      <p>
                                      Accepting credit card payments is more expensive than good old cash.
                                  That’s because when a guest enters their details online or makes a
                                  transaction at your front desk, the associated bank must issue credit - which
                                  comes at a fee (also called an interchange) for you.
                                      </p>
                                    <p>
                                      The way your hotel processes payments plays a crucial role in providing a seamless, convenient experience for your workforce and guests.
                                      </p>

                              </div>
                          </div>
                      </div>
                      <!-- /card -->
                      <div class="card">
                          <div class="card-header" role="tab">
                              <h5 class="mb-0">
                                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseThree_product" aria-expanded="false">
                                      <i class="indicator bi-plus-lg"></i>Check In / Out Rules
                                  </a>
                              </h5>
                          </div>
                          <div id="collapseThree_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                              <div class="card-body">
                                  <p>Checking into a hotel should be fairly straightforward, but the procedures and
                                      amenities can vary from place to place. Depending on whether you are local or
                                      abroad, or are a patronizing a large national chain or a small boutique hotel,
                                      preparation and information can smooth the way to your stay. </p>
                              </div>
                          </div>
                      </div>
                      <!-- /card -->
                      <div class="card">
                          <div class="card-header" role="tab">
                              <h5 class="mb-0">
                                  <a class="collapsed" data-bs-toggle="collapse" href="#collapseFour_product" aria-expanded="false">
                                      <i class="indicator bi-plus-lg"></i>Disable Access
                                  </a>
                              </h5>
                          </div>
                          <div id="collapseFour_product" class="collapse" role="tabpanel" data-bs-parent="#faq">
                              <div class="card-body">
                                  <p>
                                      With more than 800 hotels in the UK, Premier Inn is the UK’s largest hotel chain. We have more
                                      hotels in more places making it easier for you to stay away from home. Our guests tell us they
                                      love the value we offer, our clean comfortable rooms and the warm welcome they receive from our
                                      Team Members.
                                    At Premier Inn we take the needs and equal treatment of all our guests extremely seriously. We have
                                      invested heavily in this area in recent years and are committed to ensuring our facilities and
                                      services are accessible to all.
                                    Notwithstanding this, Premier Inn recognises that there is no single hotel design or layout that
                                      will entirely meet all individuals’ needs and preferences. If during your stay you feel there is
                                      something we could do to assist you, or make your stay more comfortable, please allow us the
                                      opportunity to do so by contacting Reception
                                    The information in this document provides details of the accessible facilities and services
                                      available in Premier Inn hotels.

                                    </p>
                              </div>
                          </div>
                      </div>
                      <!-- /card -->
                  </div>
                  <!-- /accordion -->
              </div>
          </div>
          <!-- /Row -->
      </div>
      <!-- /container -->

  </main>
{% include 'static_html/footer.html' %}
    <!-- /footer -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
        </svg>
    </div>
    <!-- /back to top -->

<!-- COMMON SCRIPTS -->
<script src="{% static 'js/common_scripts.js' %}"></script>
<script src="{% static 'js/common_functions.js' %}"></script>
<script src="{% static 'phpmailer/validate.js' %}"></script>

{% endblock %}