{% load static %}
{% block content %}
{% include 'static_html/head.html' %}

{% include 'static_html/header.html' %}

    <div class="panel_menu">
        <div class="panel__content">
            <div class="panel__content_wrapper">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-lg-5">
                            <nav class="wrapper_menu">
                                <ul>
                                    <li>
                                        <div class="container-item">
                                            <a href="index.html" class="link">Home</a>
                                            <div class="image">
                                                <img src="{% static 'img/hero_home_1.jpg' %}" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container-item">
                                            <a href="room-list-1.html">Rooms & Suites</a>
                                            <div class="image">
                                                <img src="{% static 'img/rooms/1.jpg' %}" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container-item">
                                            <a href="about.html">About</a>
                                            <div class="image">
                                                <img src="{% static 'img/rooms/2.jpg' %}" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container-item">
                                            <a href="news-1.html">News & Events</a>
                                            <div class="image">
                                                <img src="{% static 'img/rooms/3.jpg' %}" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container-item">
                                            <a href="contacts.html">Contacts</a>
                                            <div class="image">
                                                <img src="{% static 'img/rooms/4.jpg' %}" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="container-item">
                                            <a href="#">More demos</a>
                                            <div class="image">
                                                <img src="{% static 'img/rooms/opt_7.jpg' %}" alt="">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </nav><!-- /wrapper_menu -->
                        </div>
                        <div class="col-lg-6 d-flex align-items-end">
                            <div class="menu_panel_details">
                                <div class="row justify-content-between">
                                    <div class="col-lg-6 mb-lg-0 mb-4">
                                        <h5>Address</h5>
                                        <p>97845 Baker Street 56<br>London UK</p>
                                        <div class="styled-select lang-selector">
                                            <select>
                                                <option value="English" selected="">English</option>
                                                <option value="French">French</option>
                                                <option value="Spanish">Spanish</option>
                                                <option value="Russian">Russian</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 mb-lg-0 mb-4">
                                        <h5>Contacts</h5>
                                        <div class="contacts">
                                            <ul>
                                                <li><a href="tel://61280932400">+ 61 23 8093 3400</a></li>
                                                <li><a href="mailto:info@redose.com">info@Paradise.com</a></li>
                                            </ul>
                                        </div>
                                        <div class="social">
                                            <ul>
                                                <li><a href="#0"><i class="bi bi-instagram"></i></a></li>
                                                <li><a href="#0"><i class="bi bi-whatsapp"></i></a></li>
                                                <li><a href="#0"><i class="bi bi-facebook"></i></a></li>
                                                <li><a href="#0"><i class="bi bi-twitter"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container-fluid -->
            </div><!-- end wrap -->
        </div>
    </div>
    <!-- /panel_menu  -->

     {% include 'inbox-main.html' %}


      {% include 'static_html/footer.html' %}

    <!-- /footer -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
        </svg>
    </div>
    <!-- /back to top -->

<!-- COMMON SCRIPTS -->
<script src="{% static 'js/common_scripts.js' %}"></script>
<script src="{% static 'js/common_functions.js' %}"></script>
<script src="{% static 'js/datepicker_inline.js' %}"></script>
<script src="{% static 'phpmailer/validate.js' %}"></script>

{% endblock %}