{% block content %}
{% load static %}
{% for junior in juniors %}
 <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <a href="{% url 'junior_detail' junior.pk %}" class="box_cat_rooms">
                        <figure>
                            <div class="background-image" data-background="url(#)"></div>
                            <div class="info">
                                <small>From ${{ junior.price }}/night</small>
                                <h3>{{ junior.name }}</h3>
                                <span><a href="{% url 'junior_detail' junior.pk %}">Read more</a></span>
                            </div>
                        </figure>
                    </a>
 </div>
{% endfor %}
{% endblock %}
