{% load static %}

{% block content %}
<div class="nav_panel">
        <a href="#" class="closebt open_close_nav_panel"><i class="bi bi-x"></i></a>
        <div class="logo_panel"><img src="{% static 'img/logo_sticky.png' %}" width="135" height="45" alt=""></div>
        <div class="sidebar-navigation">
            <nav>
                <ul class="level-1">
                    <li class="parent"><a href="{% url 'index' %}">Home</a>
                         <ul class="level-2">
                            <li class="back"><a href="#0">Back</a></li>
                            <li><a href="{% url 'index' %}">Home Video Bg</a></li>

                        </ul>
                    </li>
                    <li class="parent"><a href="#0">Rooms & Suites</a>
                        <ul class="level-2">
                            <li class="back"><a href="#0">Back</a></li>
                            <li><a href="{%  url 'part_room:rooms_list_one' %}">Room list</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'part_post:news-1' %}">News & events</a></li>
                    <li><a href="{% url 'contact_form' %}">Contact</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% if request.user.is_authenticated %}

                    <li><a href="{% url 'profile' user.profile.pk %}">Profile</a></li>
                    <li><a href="{% url 'logout'  %}">Logout</a></li>
                    {% endif %}
                </ul>
                <div class="panel_footer">
                    <div class="phone_element"><a href="tel://423424234"><i class="bi bi-telephone"></i><span><em>Info and bookings</em>+41 934 121 1334</span></a></div>
                </div>
                <!-- /panel_footer -->
            </nav>
        </div>
        <!-- /sidebar-navigation -->
    </div>


{% endblock %}