{%  load static %}
{% block content %}
{% include 'static_html/head.html' %}
{% include 'static_html/header.html' %}
{% include 'static_html/nav-panel.html' %}
{% block title %} {{ title }} {% endblock %}
    <!-- /nav_panel -->

    <main>

        <div class="hero full-height jarallax" data-jarallax data-speed="0.2">
            <img class="jarallax-img kenburns" src="{{ restaurant.photo.url }}" alt="">
            <div class="wrapper opacity-mask d-flex align-items-center  text-center animate_hero" data-opacity-mask="rgba(0, 0, 0, 0.5)">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <small class="slide-animated one">Luxury Hotel Experience</small>
                            <h1 class="slide-animated two">{{ restaurant.title }}</h1>
                            <p class="slide-animated three">Greate restaurant</p>
                        </div>
                    </div>
                </div>
                <div class="mouse_wp slide-animated four">
                    <a href="#first_section" class="btn_explore">
                        <div class="mouse"></div>
                    </a>
                </div>
                <!-- / mouse -->
            </div>
        </div>
        <!-- /Background Img Parallax -->

        <div class="bg_white" id="first_section">
            <div class="container margin_120_95">
                <div class="row justify-content-between">
                    <div class="col-lg-4">
                        <div class="title">
                            <small>Luxury Experience</small>
                            <h2>{{ restaurant.title }}</h2>
                        </div>
                        <p>{{ restaurant.description }}</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="room_facilities_list">
                            <ul data-cues="slideInLeft">
                                <li><i class="icon-hotel-double_bed_2"></i> King Size Bed</li>
                                <li><i class="icon-hotel-safety_box"></i> Safety Box</li>
                                <li><i class="icon-hotel-patio"></i>Balcony</li>
                                <li><i class="icon-hotel-tv"></i> 32 Inch TV</li>
                                <li><i class="icon-hotel-disable"></i> Disable Access</li>
                                <li><i class="icon-hotel-dog"></i> Pet Allowed</li>
                                <li><i class="icon-hotel-bottle"></i> Welcome Bottle</li>
                                <li><i class="icon-hotel-wifi"></i> Wifi / Netflix access</li>
                                <li><i class="icon-hotel-hairdryer"></i> Air Dryer</li>
                                <li><i class="icon-hotel-condition"></i> Air Condition</li>
                                <li><i class="icon-hotel-loundry"></i>Loundry Service</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bg_white -->

        <div class="bg_white add_bottom_120">
            <div class="container-fluid p-lg-0">
                <div data-cues="zoomIn">
                    <div class="owl-carousel owl-theme carousel_item_centered kenburns rounded-img">
                        <div class="item">
                            <a data-fslightbox="gallery_1" data-type="image" href="{{ restaurant.photo.url }}">
                                <img src="{{ restaurant.photo.url }}" alt="">
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- /bg_white -->
          <div class="bg_white add_bottom_120">
            <div class="container-fluid p-lg-0">
                <div data-cues="zoomIn">
                    <div class="owl-carousel owl-theme carousel_item_centered kenburns rounded-img">
                        {% for image_restaurant in restaurant.photo_dish.all %}
                        <div class="item">
                            <a data-fslightbox="gallery_1" data-type="image" href="{{image_restaurant.add_photo.url}}">
                                <img src="{{image_restaurant.add_photo.url}}" height="210" width="315" alt="">
                            </a>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <!-- /reviews -->

        <!-- /bg_white -->

        <div class="container margin_120_95" id="booking_section">
            <div class="row justify-content-between">
                <div class="col-xl-4">
                    <div data-cue="slideInUp">
                        <div class="title">
                            <small>Paradise Hotel</small>
                            <h2>Check Availability</h2>
                        </div>
                        <p>Mea nibh meis philosophia eu. Duis legimus efficiantur ea sea. Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu. </p>
                        <p class="phone_element no_borders"><a href="tel://423424234"><i class="bi bi-telephone"></i><span><em>Info and bookings</em>+41 934 121 1334</span></a></p>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div data-cue="slideInUp" data-delay="200">
                        {% comment %}
                        <form method="post" id="form" action="#">
                            {% csrf_token %}
                        <div class="booking_wrapper">
                            <p id="daterangepicker-result" class="d-none"></p>
                            <input name="calendar" value="cal_endar" id="date_booking" type="hidden">
                            <div id="daterangepicker-embedded-container" class="embedded-daterangepicker clearfix mb-4"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="custom_select">
                                        <select name="select" class="wide">
                                            <option value="choise_room">Select Room</option>
                                            <option value="double">Double Room</option>
                                            <option value="deluxe">Deluxe Room</option>
                                            <option value="superior">Superior Room</option>
                                            <option value="junior">Junior Suite</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="qty-buttons mb-3 version_2">
                                                <input type="button" value="+" class="qtyplus" name="adults_booking">
                                                <input type="text" name="adults_booking" id="adults_booking" value="adults" class="qty form-control" placeholder="Adults">
                                                <input type="button" value="adults" class="qtyminus" name="adults_booking">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="mb-3 qty-buttons mb-3 version_2">
                                                <input type="button" value="+" class="qtyplus" name="childs_booking">
                                                <input type="text" name="childs_booking" id="childs_booking" value="" class="qty form-control" placeholder="Childs">
                                                <input type="button" value="childs" class="qtyminus" name="childs_booking">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <button type="submit" class="text-end mt-5">
                                                        Book Now</button>

                        </form>
                        {% endcomment %}
                        <div class="card-deck">
                            <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">{{room.name_room}}</h5>
                                  <div class="card-text">
                                    <h5 class="card-text">${{room.price }}</h5>

                                  </div>
                                </div>
                              </div>

                            </div>

                        <!-- / row -->
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </main>

   {% include 'static_html/footer.html' %}
    <!-- /footer -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
        </svg>
    </div>
    <!-- /back to top -->


<!-- COMMON SCRIPTS -->
<script src="{% static 'js/common_scripts.js' %}"></script>
<script src="{% static 'js/common_functions.js' %}"></script>
<script src="{% static 'js/datepicker_inline.js' %}"></script>
<script src="{% static 'phpmailer/validate.js' %}"></script>
<script src="{% static 'custom_js/may.js' %}"></script>
<script>
    // Progress bars animation
    $(function() {
        "use strict";
        var $section = $('#reviews');
        $(window).on('scroll', function(ev) {
            var scrollOffset = $(window).scrollTop();
            var containerOffset = $section.offset().top - window.innerHeight;
            if (scrollOffset > containerOffset) {
                $(".progress-bar").each(function() {
                    var each_bar_width = $(this).attr('aria-valuenow');
                    $(this).width(each_bar_width + '%');
                });
            }
        });
    });
</script>

{% endblock %}